{% extends "base.html" %} {% block body %}
<div class="d-flex justify-content-center m-5 w-5">
  <a href="{% url 'addProduct' %}" type="submit" class="btn btn-success"
    >Add Items</a
  >
</div>

<div class="row product__filter d-flex justify-content-center m-5">
  {% for product in products %}
  <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
    <div class="product__item sale">
      <div class="product__item__pic set-bg" data-setbg="{{ product.img.url }}">
        <span class="label">Sale</span>
      </div>
      <div class="">
        <h6>{{ product.title}}</h6>
        <h5>${{product.price}}</h5>
        <div class="d-flex justify-content-between">
          <a href="{% url 'update-product' product.id %}"
            ><button type="button" class="btn btn-info btn-sm">Edit</button></a
          >
          <a href="{% url 'delete-product' product.id%}"
            ><button type="button" class="btn btn-danger btn-sm">
              Delete
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock body %}
